Repository sseok-lee/alimi: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: backend-lint
        name: Backend ESLint
        entry: bash -c 'cd backend && npm run lint'
        language: system
        files: ^backend/.*\.ts$
        pass_filenames: false
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(vue|ts)$
        pass_filenames: false

feat: T0.5.3 프론트엔드 Mock API 생성 (MSW)
  frontend/MSW_SETUP.md
  frontend/app/app.vue
  frontend/app/pages/test-api.vue
  frontend/mocks/browser.ts
  frontend/mocks/data/benefits.ts
  frontend/mocks/handlers/benefits.ts
  frontend/nuxt.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/plugins/msw.client.ts
  frontend/public/mockServiceWorker.js
Due: frontend-lint

feat: Phase 1 완료 - 랜딩 페이지 UI 및 SEO 최적화
  .env.example
  CLAUDE.md
  docs/planning/06-tasks.md
  frontend/.env.example
  frontend/app/components/ui/Button.vue
  frontend/app/components/ui/Input.vue
  frontend/app/components/ui/Select.vue
  frontend/app/pages/index.vue
  frontend/nuxt.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/plugins/gtag.client.ts
  frontend/plugins/msw.client.ts
  frontend/public/robots.txt
  frontend/server/routes/sitemap.xml.ts
  frontend/tests/pages/index.test.ts
  frontend/tests/seo/meta.test.ts
  frontend/tests/setup.ts
  frontend/vitest.config.ts
Due: frontend-lint

test: T2.2 공공 API 클라이언트 테스트 작성 (RED)
  backend/__tests__/services/publicApiClient.test.ts
Due: backend-lint

feat: T2.2 공공 API 클라이언트 구현 (GREEN)
  backend/src/services/publicApiClient.ts
Due: backend-lint

refactor: T2.2 API 클라이언트 코드 개선 (REFACTOR)
  backend/.env.example
  backend/src/config/api.ts
  backend/src/services/publicApiClient.ts
Due: backend-lint

docs: Phase 2, T2.2 완료로 표시
  docs/planning/06-tasks.md
Due: none

docs: T2.2 인수 조건 및 완료 체크박스 업데이트
  docs/planning/06-tasks.md
Due: none

feat: Phase 3 검색 기능 - 폼 및 카드 컴포넌트 구현
  docs/planning/06-tasks.md
  frontend/app/components/BenefitCard.vue
  frontend/app/components/SearchForm.vue
  frontend/app/composables/useBenefitSearch.ts
  frontend/tests/components/BenefitCard.test.ts
  frontend/tests/components/SearchForm.test.ts
  frontend/tests/setup.ts
Due: frontend-lint

docs: T3.2 완료 시 체크박스 업데이트
  docs/planning/06-tasks.md
Due: none

feat: Phase 2, T2.3 완료 - SearchLog 기록 추가 (RED→GREEN→REFACTOR)
  backend/__tests__/api/benefits.test.ts
  backend/src/routes/benefits.ts
  backend/vitest.config.ts
Due: backend-lint

docs: Phase 2, T2.3 완료로 표시
  docs/planning/06-tasks.md
Due: none

feat: Phase 3 완료 - 검색 페이지 통합 (T3.3)
  docs/planning/06-tasks.md
  frontend/app/pages/search.vue
  frontend/tests/pages/search.test.ts
Due: frontend-lint

chore: remove .claude/ and CLAUDE.md from git tracking
  .claude/agents/backend-specialist.md
  .claude/agents/database-specialist.md
  .claude/agents/frontend-specialist.md
  .claude/agents/test-specialist.md
  .claude/commands/orchestrate.md
  .claude/settings.json
  .claude/settings.local.json
  .gitignore
  CLAUDE.md
Due: none

feat: GitHub Actions CI/CD 파이프라인 구축 및 문서 업데이트
  .github/workflows/deploy.yml
  docs/planning/01-prd.md
  docs/planning/02-trd.md
  docs/planning/03-user-flow.md
  docs/planning/04-database-design.md
  docs/planning/05-design-system.md
  docs/planning/06-tasks.md
  docs/planning/07-coding-convention.md
  docs/planning/08-api-integration.md
Due: none

fix: package-lock.json 업데이트 (CI/CD 오류 해결)
  frontend/package-lock.json
Due: none

fix: frontend package-lock.json 완전 재생성
  frontend/package-lock.json
Due: none

fix: 프론트엔드 SSR 모드로 변경
  .github/workflows/deploy.yml
Due: none

docs: CI/CD 구축 완료 - 배포 관련 문서 업데이트
  docs/planning/02-trd.md
  docs/planning/09-deployment-guide.md
Due: none

docs: tasks.md 업데이트 - Phase 5 CI/CD 구축 완료 반영
  docs/planning/06-tasks.md
Due: none

docs: MySQL 데이터베이스 설정 완료 반영
  docs/planning/02-trd.md
  docs/planning/06-tasks.md
  docs/planning/09-deployment-guide.md
Due: none

feat(backend): 보조금24 공공데이터 API 통합 (T4.1 완료)
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/services/gov24ApiClient.ts
  backend/src/services/syncBenefits.ts
  docs/planning/06-tasks.md
  docs/planning/08-api-integration.md
  frontend/app/composables/useBenefitSearch.ts
  frontend/mocks/handlers/benefits.ts
Due: backend-lint, frontend-lint

docs: T4.1 완료 확인 및 T4.4 검색 필터 확장 문서화
  docs/planning/01-prd.md
  docs/planning/04-database-design.md
  docs/planning/06-tasks.md
  docs/planning/08-api-integration.md
Due: none

feat: T4.4 검색 필터 확장 (MVP) - 백엔드
  backend/__tests__/api/benefits-filter.test.ts
  backend/prisma/schema.prisma
  backend/src/schemas/benefit.ts
  backend/src/services/benefitService.ts
  backend/src/services/syncBenefits.ts
Due: backend-lint

feat(frontend): T4.4 검색 필터 확장 구현 (MVP)
  contracts/benefits.contract.ts
  frontend/app/components/SearchForm.vue
  frontend/app/composables/useBenefitSearch.ts
  frontend/mocks/data/benefits.ts
  frontend/mocks/handlers/benefits.ts
  frontend/tests/components/SearchForm.test.ts
Due: frontend-lint

docs: T4.4 검색 필터 확장 완료 체크
  docs/planning/06-tasks.md
Due: none

feat(frontend): 홈페이지에 검색 필터 통합
  frontend/app/pages/index.vue
Due: frontend-lint

fix(frontend): 검색 필터 수정 - 카테고리 DB 값 매칭, 필터 전송 로직 수정
  frontend/app/components/SearchForm.vue
Due: frontend-lint

docs: MVP 현황 및 제한사항 문서화
  docs/planning/08-api-integration.md
Due: none

feat: 페이징 처리 구현
  backend/__tests__/api/benefits.test.ts
  backend/src/routes/benefits.ts
  backend/src/services/benefitService.ts
  frontend/app/components/SearchForm.vue
  frontend/app/composables/useBenefitSearch.ts
  frontend/app/pages/index.vue
  frontend/app/pages/search.vue
  frontend/mocks/handlers/benefits.ts
  frontend/tests/components/SearchForm.test.ts
  frontend/tests/pages/index.test.ts
  frontend/tests/pages/search.test.ts
Due: backend-lint, frontend-lint

feat: 나이 입력을 생년월일 입력으로 변경
  frontend/app/components/SearchForm.vue
  frontend/tests/components/SearchForm.test.ts
  frontend/tests/pages/index.test.ts
  frontend/tests/pages/search.test.ts
Due: frontend-lint

feat: VueDatePicker 라이브러리 적용
  frontend/app/components/SearchForm.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/setup.ts
Due: frontend-lint

docs: 생년월일 입력 방식 변경 반영 및 태스크 업데이트
  docs/planning/01-prd.md
  docs/planning/03-user-flow.md
  docs/planning/06-tasks.md
Due: none

feat: T6.1 백엔드 상세 조회 API 구현 (RED→GREEN)
  backend/__tests__/api/benefits-detail.test.ts
  backend/src/routes/benefits.ts
  backend/src/schemas/benefit.ts
  backend/src/services/benefitService.ts
Due: backend-lint

feat(frontend): Phase 6, T6.2 - 상세 페이지 컴포넌트 구현 (RED→GREEN)
  frontend/app/components/benefit/ApplySidebar.vue
  frontend/app/components/benefit/BenefitHero.vue
  frontend/app/components/benefit/DocumentsCard.vue
  frontend/app/components/benefit/EligibilityCard.vue
  frontend/app/components/benefit/MobileBottomBar.vue
  frontend/app/components/benefit/ProcessSteps.vue
  frontend/app/components/benefit/RelatedBenefits.vue
  frontend/tests/components/benefit/ApplySidebar.test.ts
  frontend/tests/components/benefit/BenefitHero.test.ts
  frontend/tests/components/benefit/DocumentsCard.test.ts
  frontend/tests/components/benefit/EligibilityCard.test.ts
  frontend/tests/components/benefit/MobileBottomBar.test.ts
  frontend/tests/components/benefit/ProcessSteps.test.ts
  frontend/tests/components/benefit/RelatedBenefits.test.ts
Due: frontend-lint

feat(frontend): Phase 6, T6.3 - 상세 페이지 통합 및 API 연동 (GREEN)
  frontend/.nuxt/app.config.mjs
  frontend/.nuxt/components.d.ts
  frontend/.nuxt/imports.d.ts
  frontend/.nuxt/manifest/meta/a26f1777-54fa-4f4a-a91e-bbdcadb5cf53.json
  frontend/.nuxt/nuxt.d.ts
  frontend/.nuxt/nuxt.node.d.ts
  frontend/.nuxt/nuxt.shared.d.ts
  frontend/.nuxt/schema/nuxt.schema.d.ts
  frontend/.nuxt/schema/nuxt.schema.json
  frontend/.nuxt/tailwind/postcss.mjs
  frontend/.nuxt/tsconfig.app.json
  frontend/.nuxt/tsconfig.json
  frontend/.nuxt/tsconfig.node.json
  frontend/.nuxt/tsconfig.server.json
  frontend/.nuxt/tsconfig.shared.json
  frontend/.nuxt/types/app.config.d.ts
  frontend/.nuxt/types/build.d.ts
  frontend/.nuxt/types/builder-env.d.ts
  frontend/.nuxt/types/components.d.ts
  frontend/.nuxt/types/imports.d.ts
  frontend/.nuxt/types/layouts.d.ts
  frontend/.nuxt/types/middleware.d.ts
  frontend/.nuxt/types/modules.d.ts
  frontend/.nuxt/types/nitro-config.d.ts
  frontend/.nuxt/types/nitro-imports.d.ts
  frontend/.nuxt/types/nitro-middleware.d.ts
  frontend/.nuxt/types/nitro-nuxt.d.ts
  frontend/.nuxt/types/nitro-routes.d.ts
  frontend/.nuxt/types/nitro.d.ts
  frontend/.nuxt/types/plugins.d.ts
  frontend/.nuxt/types/runtime-config.d.ts
  frontend/.nuxt/types/vue-shim.d.ts
  frontend/app/components/BenefitCard.vue
  frontend/app/composables/useBenefitDetail.ts
  frontend/app/pages/benefits/[id].vue
  frontend/tests/components/BenefitCard.test.ts
  frontend/tests/pages/benefits-id.test.ts
Due: frontend-lint

fix(frontend): 카드 클릭 시 상세 페이지로 이동하도록 수정
  docs/planning/01-prd.md
  docs/planning/03-user-flow.md
  docs/planning/06-tasks.md
  frontend/app/components/BenefitCard.vue
  frontend/app/components/SearchForm.vue
  frontend/app/pages/index.vue
  frontend/app/pages/search.vue
  frontend/nuxt.config.ts
Due: frontend-lint

test(frontend): UI 변경사항에 맞게 테스트 수정
  frontend/tests/components/BenefitCard.test.ts
  frontend/tests/components/SearchForm.test.ts
  frontend/tests/pages/index.test.ts
  frontend/tests/pages/search.test.ts
Due: frontend-lint

fix(frontend): BenefitHero 조회수 표현 수정
  frontend/app/components/benefit/BenefitHero.vue
Due: frontend-lint

feat(backend): 세션 기반 중복 조회수 증가 방지
  backend/__tests__/api/benefits-detail.test.ts
  backend/src/routes/benefits.ts
  backend/src/services/benefitService.ts
Due: backend-lint
