Repository sseok-lee/alimi: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: backend-lint
        name: Backend ESLint
        entry: bash -c 'cd backend && npm run lint'
        language: system
        files: ^backend/.*\.ts$
        pass_filenames: false
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(vue|ts)$
        pass_filenames: false

feat: Phase 6 상세 페이지 UI/UX 개선 완료
  .gitignore
  backend/src/schemas/benefit.ts
  backend/src/services/benefitService.ts
  frontend/app/components/benefit/ApplySidebar.vue
  frontend/app/components/benefit/BenefitHero.vue
  frontend/app/components/benefit/DocumentsCard.vue
  frontend/app/components/benefit/EligibilityCard.vue
  frontend/app/components/benefit/ProcessSteps.vue
  frontend/app/components/benefit/RelatedBenefits.vue
  frontend/app/components/benefit/RelatedLawsCard.vue
  frontend/app/composables/useBenefitDetail.ts
  frontend/app/composables/useDeadline.ts
  frontend/app/pages/benefits/[id].vue
  frontend/app/pages/search.vue
  frontend/tailwind.config.ts
  frontend/tests/components/benefit/ApplySidebar.test.ts
  frontend/tests/components/benefit/BenefitHero.test.ts
  frontend/tests/components/benefit/DocumentsCard.test.ts
  frontend/tests/components/benefit/ProcessSteps.test.ts
  frontend/tests/components/benefit/RelatedBenefits.test.ts
  frontend/tests/components/benefit/RelatedLawsCard.test.ts
  frontend/tests/pages/benefits-id.test.ts
Due: backend-lint, frontend-lint

fix: exclude syncBenefits.ts from tsc build
  backend/tsconfig.json
Due: none

docs: 기획 문서 git 추적 활성화 및 Phase 6 완료 기록
  .gitignore
  docs/planning/01-prd.md
  docs/planning/02-trd.md
  docs/planning/03-user-flow.md
  docs/planning/04-database-design.md
  docs/planning/05-design-system.md
  docs/planning/06-tasks.md
  docs/planning/07-coding-convention.md
  docs/planning/08-api-integration.md
  docs/planning/09-deployment-guide.md
Due: none

fix: commander 13.x 의존성 추가
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: CORS 다중 origin 지원
  backend/.env.example
  backend/src/app.ts
Due: backend-lint

fix: 프로덕션 API base URL 자동 설정
  frontend/nuxt.config.ts
Due: frontend-lint

fix: GitHub Actions에서 API_BASE_URL='' 명시적 설정
  .github/workflows/deploy.yml
  frontend/nuxt.config.ts
Due: frontend-lint

docs: Phase 7 데이터 동기화 복구 계획 추가
  docs/planning/06-tasks.md
  docs/planning/10-sync-fix-plan.md
Due: none

fix: syncBenefits.ts 동기화 스크립트 복구
  backend/src/services/syncBenefits.ts
  backend/tsconfig.json
Due: backend-lint

docs: Phase 7 태스크 완료 상태 업데이트
  docs/planning/06-tasks.md
Due: none

docs: Phase 7 전체 완료 - 데이터 동기화 복구
  docs/planning/06-tasks.md
Due: none

feat: T8.2 프론트엔드 필터 UI 추가
  contracts/benefits.contract.ts
  frontend/app/components/SearchForm.vue
  frontend/app/composables/useBenefitSearch.ts
  frontend/mocks/handlers/benefits.ts
  frontend/tests/components/SearchForm.test.ts
Due: frontend-lint

feat(T8.1): Phase 8 백엔드 스키마 및 서비스 확장
  backend/__tests__/api/benefits-filter.test.ts
  backend/src/schemas/benefit.ts
  backend/src/services/benefitService.ts
Due: backend-lint

fix: 백엔드 테스트 안정성 개선
  backend/__tests__/api/benefits-detail.test.ts
Due: backend-lint

docs: Phase 8 전체 완료 상태 업데이트
  docs/planning/06-tasks.md
Due: none

refactor: 대상 필터 UI 통합
  frontend/app/components/SearchForm.vue
Due: frontend-lint

refactor: 정렬 옵션을 검색 폼에서 결과 화면으로 이동
  frontend/app/components/SearchForm.vue
  frontend/app/pages/search.vue
  frontend/tests/components/SearchForm.test.ts
Due: frontend-lint

fix: index.vue에도 정렬 드롭다운 적용
  frontend/app/pages/index.vue
Due: frontend-lint

feat(T8.5): 조회수 필드 분리 - viewCount/siteViewCount
  backend/__tests__/api/benefits-detail.test.ts
  backend/prisma/schema.prisma
  backend/src/schemas/benefit.ts
  backend/src/services/benefitService.ts
  contracts/benefits.contract.ts
  docs/planning/06-tasks.md
  frontend/app/components/benefit/BenefitHero.vue
  frontend/app/components/benefit/RelatedBenefits.vue
  frontend/app/composables/useBenefitDetail.ts
  frontend/mocks/data/benefits.ts
  frontend/mocks/handlers/benefits.ts
  frontend/nuxt.config.ts
  frontend/plugins/msw.client.ts
  frontend/tests/components/benefit/BenefitHero.test.ts
  frontend/tests/components/benefit/RelatedBenefits.test.ts
  frontend/tests/pages/benefits-id.test.ts
Due: backend-lint, frontend-lint

docs: DB 스키마 문서 업데이트 - viewCount/siteViewCount 필드 추가
  docs/planning/04-database-design.md
Due: none

docs: Phase 9~11 확장 계획 문서 추가
  docs/planning/01-prd.md
  docs/planning/02-trd.md
  docs/planning/03-user-flow.md
  docs/planning/06-tasks.md
Due: none

feat(T9.1): 지역 데이터 확장 - 17개 시/도 코드 추가
  backend/__tests__/constants/regions.test.ts
  backend/package.json
  backend/src/constants/regions.ts
  backend/src/routes/benefits.ts
  backend/src/scripts/migrateRegions.ts
  backend/src/services/benefitService.ts
  backend/src/services/syncBenefits.ts
Due: backend-lint

docs: T9.1 완료 체크 업데이트
  docs/planning/06-tasks.md
Due: none

feat(T9.2): 지역 필터 UI 개선 - 동적 드롭다운 및 개수 표시
  frontend/app/components/SearchForm.vue
  frontend/app/composables/useRegions.ts
  frontend/mocks/handlers/benefits.ts
Due: frontend-lint

docs: T9.2 및 Phase 9 완료 체크 업데이트
  docs/planning/06-tasks.md
Due: none

feat(T10.1): 공유 URL 생성 기능 구현
  frontend/app/composables/useShareUrl.ts
  frontend/app/pages/index.vue
  frontend/app/pages/search.vue
Due: frontend-lint

feat(T10.2): 공유 버튼 UI - 클립보드 복사, Twitter, Web Share API
  frontend/.output/nitro.json
  frontend/.output/public/_nuxt/A6LxTzrq.js
  frontend/.output/public/_nuxt/C3GmIVRw.js
  frontend/.output/public/_nuxt/C9xd-mhV.js
  frontend/.output/public/_nuxt/C_eJhb9z.js
  frontend/.output/public/_nuxt/Co3yIn3D.js
  frontend/.output/public/_nuxt/DjFy8tKc.js
  frontend/.output/public/_nuxt/DyY00Yon.js
  frontend/.output/public/_nuxt/_id_.p2BvfuSU.css
  frontend/.output/public/_nuxt/builds/latest.json
  frontend/.output/public/_nuxt/builds/meta/2317344e-c48e-4974-b94a-8c0760403894.json
  frontend/.output/public/_nuxt/entry.DtsAkFIN.css
  frontend/.output/public/_nuxt/error-404.BLrjNXsr.css
  frontend/.output/public/_nuxt/error-500.DLkAwcfL.css
  frontend/.output/public/_nuxt/q3FBOukp.js
  frontend/.output/public/_nuxt/useShareUrl.C553WPEP.css
  frontend/.output/public/_nuxt/y0S6eebO.js
  frontend/.output/public/favicon.ico
  frontend/.output/public/mockServiceWorker.js
  frontend/.output/public/robots.txt
  frontend/.output/server/chunks/_/error-500.mjs
  frontend/.output/server/chunks/_/error-500.mjs.map
  frontend/.output/server/chunks/nitro/nitro.mjs
  frontend/.output/server/chunks/nitro/nitro.mjs.map
  frontend/.output/server/chunks/routes/renderer.mjs
  frontend/.output/server/chunks/routes/renderer.mjs.map
  frontend/.output/server/chunks/routes/sitemap.xml.mjs
  frontend/.output/server/chunks/routes/sitemap.xml.mjs.map
  frontend/.output/server/chunks/virtual/_virtual_spa-template.mjs
  frontend/.output/server/chunks/virtual/_virtual_spa-template.mjs.map
  frontend/.output/server/index.mjs
  frontend/.output/server/index.mjs.map
  frontend/.output/server/package.json
  frontend/app/components/ui/ShareButton.vue
  frontend/app/pages/index.vue
  frontend/app/pages/search.vue
Due: frontend-lint

docs: Phase 10 완료 체크 업데이트
  docs/planning/06-tasks.md
Due: none

fix: ShareButton → UiShareButton (Nuxt auto-import 규칙)
  frontend/app/pages/index.vue
  frontend/app/pages/search.vue
Due: frontend-lint

docs: Phase 11 태스크 조정 - 인기 검색어 제거
  docs/planning/06-tasks.md
Due: none

feat(T11.1): 인기 지원금 API - viewCount 기준 TOP 10, 5분 캐싱
  backend/src/routes/benefits.ts
  backend/src/services/benefitService.ts
Due: backend-lint

docs: T11.1 인기 지원금 API 완료 체크
  docs/planning/06-tasks.md
Due: none

feat(T11.2): 인기 지원금 UI - 랜딩 페이지 인기 지원금 섹션 추가
  docs/planning/06-tasks.md
  frontend/app/components/home/PopularBenefits.vue
  frontend/app/composables/usePopularBenefits.ts
  frontend/app/pages/index.vue
Due: frontend-lint

refactor: 용어 변경 - "지원금" → "서비스"
  backend/src/routes/benefits.ts
  backend/src/schemas/benefit.ts
  backend/src/scripts/migrateRegions.ts
  backend/src/services/benefitService.ts
  backend/src/services/publicApiClient.ts
  docs/planning/06-tasks.md
  frontend/app/components/BenefitCard.vue
  frontend/app/components/SearchForm.vue
  frontend/app/components/home/PopularBenefits.vue
  frontend/app/components/ui/ShareButton.vue
  frontend/app/composables/useBenefitDetail.ts
  frontend/app/composables/usePopularBenefits.ts
  frontend/app/pages/benefits/[id].vue
  frontend/app/pages/index.vue
  frontend/app/pages/search.vue
  frontend/app/pages/test-api.vue
Due: backend-lint, frontend-lint

chore: frontend/.output 빌드 아티팩트 git 추적에서 제거
  frontend/.output/nitro.json
  frontend/.output/public/_nuxt/A6LxTzrq.js
  frontend/.output/public/_nuxt/C3GmIVRw.js
  frontend/.output/public/_nuxt/C9xd-mhV.js
  frontend/.output/public/_nuxt/C_eJhb9z.js
  frontend/.output/public/_nuxt/Co3yIn3D.js
  frontend/.output/public/_nuxt/DjFy8tKc.js
  frontend/.output/public/_nuxt/DyY00Yon.js
  frontend/.output/public/_nuxt/_id_.p2BvfuSU.css
  frontend/.output/public/_nuxt/builds/latest.json
  frontend/.output/public/_nuxt/builds/meta/2317344e-c48e-4974-b94a-8c0760403894.json
  frontend/.output/public/_nuxt/entry.DtsAkFIN.css
  frontend/.output/public/_nuxt/error-404.BLrjNXsr.css
  frontend/.output/public/_nuxt/error-500.DLkAwcfL.css
  frontend/.output/public/_nuxt/q3FBOukp.js
  frontend/.output/public/_nuxt/useShareUrl.C553WPEP.css
  frontend/.output/public/_nuxt/y0S6eebO.js
  frontend/.output/public/favicon.ico
  frontend/.output/public/mockServiceWorker.js
  frontend/.output/public/robots.txt
  frontend/.output/server/chunks/_/error-500.mjs
  frontend/.output/server/chunks/_/error-500.mjs.map
  frontend/.output/server/chunks/nitro/nitro.mjs
  frontend/.output/server/chunks/nitro/nitro.mjs.map
  frontend/.output/server/chunks/routes/renderer.mjs
  frontend/.output/server/chunks/routes/renderer.mjs.map
  frontend/.output/server/chunks/routes/sitemap.xml.mjs
  frontend/.output/server/chunks/routes/sitemap.xml.mjs.map
  frontend/.output/server/chunks/virtual/_virtual_spa-template.mjs
  frontend/.output/server/chunks/virtual/_virtual_spa-template.mjs.map
  frontend/.output/server/index.mjs
  frontend/.output/server/index.mjs.map
  frontend/.output/server/package.json
Due: none

refactor: Nuxt 성능 최적화 및 접근성 개선
  docs/planning/09-expansion-plan.md
  frontend/app/components/SearchForm.vue
  frontend/app/components/home/PopularBenefits.vue
  frontend/app/composables/useBenefitDetail.ts
  frontend/app/composables/usePopularBenefits.ts
  frontend/app/pages/benefits/[id].vue
  frontend/app/pages/index.vue
  frontend/app/pages/search.vue
Due: frontend-lint

fix: SSR 환경에서 useFetch baseURL 문제 수정
  frontend/app/composables/useBenefitDetail.ts
  frontend/app/composables/usePopularBenefits.ts
  frontend/nuxt.config.ts
Due: frontend-lint

fix: 상세 페이지 컴포넌트 import 복원
  frontend/app/pages/benefits/[id].vue
Due: frontend-lint

docs: 확장 계획 재수립 - Phase 12~15 추가
  docs/planning/06-tasks.md
  docs/planning/09-expansion-plan.md
Due: none
